.vscode/**
src/**
tsconfig.json
eslint.config.ts
vitest.config.ts
tests/**
node_modules/**
out/**/*.map
out/**/*.d.ts
esbuild.config.ts
bun.lock
node_modules/.cache/**
.gitignore
.prettierignore
plan.md
